/* app css stylesheet */

html, body {
    width: 100%;
    height: 100%;
    background: #222222;
    color: rgb(215, 27, 27);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    display: flex;
    flex-direction: column;
    max-width: 800px;
    margin: auto;
}



.menu {
    list-style: none;
    border-bottom: 0.1em solid black;
    margin-bottom: 10px;
    min-height: 30px;

}

.menu:before {
    content: "[";
}

.menu:after {
    content: "]";
}

.menu > li {
    display: inline;
}

.menu > li:before {
    content: "|";
    padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
    content: "";
    padding: 0;
}

div.view {
    padding: 0 10px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-around;
    flex-wrap: wrap;
}

.postLink {
    flex-grow: 1;
    text-align: center;
    cursor: pointer;
    border: solid rgb(68, 68, 68) 1px;
    background-color: #2F2F2F;
    padding: 5px;
    border-radius: 9px;
    box-shadow: black 0 0 10px;
    transition: box-shadow .3s;
    margin: 10px;
    display: flex;
}
.postLink h2{
    padding: 5px;
    margin: auto;
}

.postLink:hover {
    box-shadow: red 0 0 15px;
}

footer {
    padding: 10px;
   justify-content: center;
    display: flex;
    min-height: 30px;
}
.field{
    margin-bottom: 10px;
}
footer button {
    flex-grow: 1;

}
button {
    max-width: 25%;
}